@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-4">
            <h2>hellou</h2>
            <p>
                <input type="text" class="form-control" id="txtkeyword" placeholder="Buscar" />
            </p>
            <p><a class="btn btn-default" href="javascript:void(0)" onclick="btnbuscar()">Buscar</a></p>
            <div class="container" id="ListYoutube">

            </div>
        </div>

        <div class="col-md-1">

        </div>

        <div class="col-md-4">
            <div id="player"></div>
        </div>
    </div>



<script>
    function btnbuscar()
    {
        $.ajax(
            {
                url: '@Url.Action("BuscarLista")?keyword='+$('#txtkeyword').val(),
                type: 'GET',
                success: function (result)
                {
                    $('#ListYoutube').html(result);
                    //respuesta
                }
            });
    }
</script>